body {
  background-color: rgba(16,8,6,1);
  height: 100%;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: rgba(16,8,6,1);
    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

 #navbarbckgrnd {
   border: none;
   background-color: rgba(16,8,6,1);
   margin-top: 1.5%;
 }

  #navbar-brand-centered {
  background-color: rgba(16,8,6,1);
  border-color: rgba(16,8,6,1);
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}

#title {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(231,208,186,1);

}

.no-space-break{
    white-space:nowrap;
  }

  #closeup {
    margin: 10% 15% 10% 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #selfportrait {
    margin-top: 10%;
    max-width: 90%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 15%;
    color: white;
    border-style: none;
    border-width: .1px;
    background-color: white;
    height: 1px;
    opacity: .25;
  }

  #presstext {
    text-align: center;
    color: rgba(255,255,255,1);
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
  }
