body {
  background-color: rgba(16,8,6,1);
  height: 100%;
  width: 100;
}

html {
  width: 100%;
  height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#page-top, #navbarcontainer {
  background-color: rgba(16,8,6,1);
  border: none;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggle {
  border: none;
}

.page-scroll {
  text-align: center;
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.home-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}

/*.press-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}*/

.about-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}

.media-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}

.discography-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}

.photos-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background-color: rgba(16,8,6,1);
}


 #navbarbckgrnd {
   border: none;
   background-color: rgba(16,8,6,1);
   margin-top: 1.5%;
 }

  #navbar-brand-centered {
  background-color: rgba(16,8,6,1);
  border-color: rgba(16,8,6,1);
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}

#title {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(231,208,186,1);

}


  #closeup {
    margin: 0% 10% 1% 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #selfportrait {
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 90%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 15%;
    color: white;
    border-style: none;
    border-width: .1px;
    background-color: white;
    height: 1px;
    opacity: .25;
  }

  #presstext {
    margin-top: 5%;
    text-align: center;
    color: rgba(255,255,255,1);
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
    max-width: 90%;
  }

  #biotext {
    margin-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;
    color: rgba(255,255,255,1);
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
  }

  #biopicandtext {
    /*margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;*/
    margin: 0% 20% 10% 20%;
  }

  .hrbio {
    width: 100%;
    color: white;
    border-style: none;
    border-width: .1px;
    background-color: white;
    height: 1px;
    opacity: .25;

  }

  #bandshot {
    max-width: 90%;
    margin-left: 5%;
  }


  .photos {
    margin-bottom: 15%;
  }

  #studiocity {
    max-width: 55%;
    margin-left: 20%;
  }
