body {
  background-color: black;
  color: black;
  height: 100%;
  width: 100;
}

html {
  width: 100%;
  height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

#page-top, #navbarcontainer {
  background-color: black;
  border: none;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-toggle {
  border: none;
}

.page-scroll {
  text-align: center;
}

.navbar-default .navbar-nav>.active>a, .navbar-default
.navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent !important;
}

.navbar-toggle {
  border: none !important;
  background-color: black !important;
}


/* Demo Sections - You can use these as guides or delete them -
the scroller will work with any sort of height, fixed, undefined,
or percentage based. The padding is very important to make sure the
scrollspy picks up the right area when scrolled to. Adjust the margin
and padding of sections and children of those sections to manage the
look and feel of the site. */

.home-section {

    padding-top: 100px;
    text-align: center;
    background-color: black;
}

.press-section {
    padding-top: 25px;
    text-align: center;
    background-color: black;
}

.about-section {

    padding-top: 25px;
    text-align: center;
    background-color: black;
}

.media-section {

    padding-top: 100px;
    text-align: center;
    background-color: black;
}

.discography-section {

    padding-top: 250px;
    text-align: center;
    background-color: black;
}

.photos-section {

    padding-top: 150px;
    text-align: center;
    background-color: black;
}


 #navbarbckgrnd {
   border: none;
   background-color: black;
   margin-top: 1.5%;
 }

  #navbar-brand-centered {
  background-color: black;
  border-color: black;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}

#title {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(231,208,186,1);

}


  #closeup {
    margin: 7.5% 10% 5% 10%;
    height: 100%;
    /*min-width: 90%;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
  }

  #selfportrait {
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 90%;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 15%;
    color: white;
    border-style: none;
    border-width: .1px;
    background-color: white;
    height: 1px;
    opacity: .25;
  }

  #presstext {
    margin-top: 5%;
    text-align: center;
    color: rgba(255,255,255,1);
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
    max-width: 90%;
  }

  #biopic {
    /*margin-left: auto;
    margin-right: aut*/
    /*max-width: 90%;*/
    height: 100%;


  }

  #biotext {
    /*margin-top: 20%;
    margin-bottom: 20%;*/
    /*margin-left: 5%;
    margin-right: 5%;*/
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: rgba(255,255,255,1);
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
  }

  #biopicandtext {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    /*margin: 0% 20% 10% 20%;*/
  }

  .hrbio {
    width: 100%;
    color: white;
    border-style: none;
    border-width: .1px;
    background-color: white;
    height: 1px;
    opacity: .25;

  }

  #bandshot {
    max-width: 90%;
    margin-left: 5%;
  }


  .photos {
    margin-bottom: 15%;
  }

  #studiocity {
    max-width: 55%;
    margin-left: 20%;
  }

  .thumbnail, .caption {
    background-color: black !important;
    border-color: black !important;
  }

  .caption {
    text-align:left;
    color: rgba(255,255,255,1) !important;
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
    opacity: .90;
  }

  .modal-dialog {
    width:600px;
  }
  .thumbnail {
    margin-bottom:6px;
  }

  /*.modal-content {
    background: transparent !important;
    border: transparent !important;
  }*/

  .modal-content {
    background: black !important;
    border: black !important;
    opacity: .93;
  }

  .modal-header, .modal-footer {
    border: none !important;
  }

  #myModal {
     float: none;
     margin-left: auto;
     margin-right: auto;
     top: 5%;
  }

  .close {
    color: white !important;
  }

  .modal-title {
    text-align: center;
    color: rgba(255,255,255,1) !important;
    font-family: "Futura PT", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.75em;
  }

  #media {
    max-width: 95%;
    margin:auto;
  }

  #discography {
    margin-bottom: 5%;
  }
